@charset "Shift_JIS";

* {
	margin:0; padding:0; /*全要素のマージン・パディングをリセット*/
} 

canvas
{
	top :0px ;
	left:0px ;
	position : absolute;
}

@media (max-width : 599px){
	canvas
	{
		width : 320px;
		height :200px;
	}
}

@media (min-width : 600px){
	canvas
	{
		width : 640px;
		height :400px;
	}
}

@media (min-width : 1025px){
	canvas
	{
		width : 1280px;
		height :800px;
	}
}
.resizeimage * { width: 100%; }
